.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 25px;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
